:root {
    --flame: #e9531a;
    --aureolin: #fce601;
    --malachite: #3ad842;
    --black: #000604;
    --timberwolf: #e4dad2;
    --cian: #04A9C6;
    --violet: #C81389;
}

body {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

header {
    background-color: var(--malachite);
    padding: 20px;
}